  .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2% 5%;
      gap: 40px;
  }

  .text-area {
      flex: 1;
      max-width: 550px;
  }

  .text-area h1 {
      font-size: 64px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 25px;
  }

  .text-area p {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 25px;
  }

  .text-area button {
      font-family: 'Space Grotesk', sans-serif;
      font-size: 20px;
      background-color: #191A23;
      color: white;
      padding: 20px 30px;
      border: none;
      border-radius: 14px;
  }

  .text-area button:hover {
      background-color: transparent;
      color: #191A23;
      border: 2px solid #191A23;
  }

  .image-poxitivus img {
      width: 100%;
  }

  .logo-brand {
      display: flex;
      margin: 2% 5%;
      filter: grayscale(100%);
      align-items: center;
      gap: 5%;
  }

  .logo-brand img {
      width: 200px;
  }