  .use-cases {
      background-color: #B9FF66;
      border: 1px #B9FF66 solid;
  }

  .content {
      display: flex;
      background-color: #f3f3f3;
      border: 1px solid #f3f3f3;
      border-radius: 25px;
      font-family: 'space grotesk';
      margin-top: 5%;
      margin-left: 4%;
      margin-right: 4%;
      justify-content: space-between;
      align-items: center;
      display: none;
  }

  .image-poxitivus {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .text {
      flex: 1;
  }

  .text h1 {
      font-size: 64px;
      line-height: 75px;
  }

  .text p {
      font-size: 20px;
      line-height: 30px;
      padding-right: 12%;
      margin: auto;
  }

  .content2 {
      display: flex;
      background-color: #191A23;
      font-family: 'space grotesk';
      border-radius: 15px;
      color: #ffffff;
      margin-left: 4%;
      margin-right: 4%;
      margin-top: 5%;
      padding: 20px;
      display: none;
  }

  .Featured-text {
      font-size: 24px;
      color: black;
      background: #B9FF66;
      display: inline-block;
      line-height: 0.1;
      border-radius: 10px;
      margin-left: 13px;
  }

  .Scalling-Sucess-text {
      font-size: 24px;
      margin-left: 13px;
  }

  .Paragraph-text {
      font-size: 16px;
      margin-left: 13px;
  }

  .read-icon {
      display: flex;
      margin-left: 15px;
  }

  .read-icon img {
      width: 50px;
      margin: auto 2px;

  }

  .percent-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      max-width: 400px;
      margin: 0 auto;
      padding: 0 5%;
  }

  .percent-box {
      flex: 1 1 calc(50% - 20px);
      color: black;
      background: #fff;
      border-radius: 12px;
      text-align: center;
      padding: 20px 10px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 150px;
  }

  .percent-box h2 {
      margin: 0;
      font-size: 36px;
  }

  .percent-box p {
      margin-top: 8px;
      font-size: 14px;
  }

  /* Tablet */
  .tablet-content {
      display: flex;
      background-color: #f3f3f3;
      border-radius: 25px;
      font-family: 'space grotesk';
      margin: 4% 3%;
      padding: 28px 20px;
      justify-content: space-between;
      align-items: center;
      display: none;
  }

  .tablet-image-poxitivus {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .tablet-image-poxitivus img {
      max-width: 85%;
      height: auto;
      display: block;
  }

  .tablet-text {
      flex: 1;
  }

  .tablet-text h1 {
      font-size: 48px;
      line-height: 60px;
  }

  .tablet-text p {
      font-size: 18px;
      line-height: 30px;
      padding-right: 12%;
      margin: auto;
  }

  .tablet-content2 {
      display: flex;
      background-color: #191A23;
      font-family: 'space grotesk';
      border-radius: 15px;
      color: #ffffff;
      margin: 5% 3%;
      padding: 24px 20px;
      display: none;
  }

  .tablet-Featured-text {
      font-size: 20px;
      color: black;
      background: #B9FF66;
      display: inline-block;
      line-height: 0.1;
      border-radius: 10px;
      margin-left: 13px;
  }

  .tablet-Scalling-Sucess {
      font-size: 22px;
      margin-left: 13px;
  }

  .tablet-Paragraph {
      font-size: 16px;
      margin-left: 13px;
  }

  .tablet-read-icon {
      display: flex;
      margin-left: 15px;
  }

  .tablet-read-icon img {
      width: 40px;
      margin: auto 2px;

  }

  .tablet-percent-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      max-width: 380px;
      margin: 0 auto;
      padding: 0 5%;
  }

  .tablet-percent-box {
      flex: 0 0 calc(50% - 20px);
      color: black;
      background: #fff;
      border-radius: 12px;
      text-align: center;
      padding: 20px 10px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 130px;
  }

  .tablet-percent-box h2 {
      margin: 0;
      font-size: 30px;
  }

  .tablet-percent-box p {
      margin-top: 6px;
      font-size: 14px;
  }

  /* Mobile */
  .image-poxitivus-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 20px 0;
  }

  .image-poxitivus-mobile img {
      max-width: 90%;
      height: auto;
      display: block;
  }


  .mobile-content {
      display: none;
      margin: 0% 2%;
  }


  .mobile-texthead {
      font-family: 'space grotesk';
      font-size: 24px;
  }

  .mobile-text {
      font-family: 'space grotesk';
      font-size: 18px;
  }

  .mobile-content2 {
      font-family: 'space grotesk';
      background-color: #191A23;
      margin: 1%;
      border-radius: 40px;
      display: none;
  }

  .mobile-content2-logo {
      color: #B9FF66;
      display: flex;
      align-items: center;
      font-size: 24px;
      gap: 10px;
      margin-left: 3%;
  }

  .mobile-text-content2 {
      display: flex;
      margin: 7%;
  }

  .mobile-star-icon img {
      margin-top: 46px;
      width: 25px;
  }

  .mobile-featured-text {
      color: #B9FF66;
      font-size: 24px;
  }

  .mobile-Scalling-Sucess {
      width: 380px;
      font-size: 24px;
      color: #ffffff;

  }

  .mobile-Paragraph {
      width: 380px;
      font-size: 16px;
      color: #ffffff;
  }

  .mobile-percent-box {
      margin-left: 15%;
      text-align: center;
      width: 75%;
  }

  .mobile-two-hundred {
      background-color: #ffffff;
      border-radius: 18px;
      padding: 20px 20px;
      margin-bottom: 35px;
  }

  .mobile-two-hundred h2 {
      font-size: 36px;
  }

  .mobile-seventy-five {
      background-color: #ffffff;
      border-radius: 18px;
      padding: 20px 20px;
      margin-bottom: 35px;
  }

  .mobile-seventy-five h2 {
      font-size: 36px;
  }

  .mobile-one-hundred-fifty {
      background-color: #ffffff;
      border-radius: 18px;
      padding: 20px 20px;
      margin-bottom: 35px;
  }

  .mobile-one-hundred-fifty h2 {
      font-size: 36px;
  }

  .mobile-three-hundred {
      background-color: #ffffff;
      border-radius: 18px;
      padding: 20px 20px;
  }

  .mobile-three-hundred h2 {
      font-size: 36px;
  }

  .mobile-read-icon {
      display: flex;
      align-items: center;
      margin: 3%;
      margin-left: 15%;
  }

  .mobile-read-icon img {
      width: 60px;
      height: 60px;
  }

  .mobile-read-icon p {
      color: #B9FF66;
      font-size: 18px;
  }



  @media screen and (max-width: 719px) {

      .mobile-menu {
          display: block;
          display: flex;
      }

      .mobile-content,
      .mobile-content2 {
          display: block;
      }
  }

  @media screen and (min-width: 720px) and (max-width: 1369px) {

      .tablet-menu,
      .tablet-content,
      .tablet-content2 {
          display: block;
          display: flex;
      }
  }

  @media screen and (min-width: 1370px) {

      .navigation-bar,
      .content,
      .content2 {
          display: block;
          display: flex;
      }
  }