  body {
      font-family: 'Space Grotesk', sans-serif;
      color: #191A23;
      background-color: #F3F3F3;
      margin: 0;
  }

  .navigation-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2% 5%;
      box-sizing: border-box;
      display: none;
  }

  .about-us {
      position: relative;
  }

  .about-us div {
      display: none;
      position: absolute;
      top: 100%;
      left: -14px;
      background-color: #F3F3F3;
      min-width: 150px;
  }

  .about-us div a {
      display: block;
      padding: 8px 14px;
      color: black;
      font-size: 16px;
      text-decoration: none;
  }

  .about-us:hover div {
      display: block;
  }

  .services {
      position: relative;
  }

  .services div {
      display: none;
      position: absolute;
      top: 100%;
      left: -14px;
      background-color: #F3F3F3;
      min-width: 150px;
  }

  .services div a {
      display: block;
      padding: 8px 14px;
      color: black;
      font-size: 16px;
      text-decoration: none;
  }

  .services:hover div {
      display: block;
  }

  .logo img {
      height: 40px;
  }

  .menu {
      display: flex;
      justify-content: center;
      gap: 30px;
  }

  .menu div {
      border-radius: 5px;
      padding: 4px 6px;
  }

  .menu a {
      font-family: 'Space Grotesk', sans-serif;
      font-size: 18px;
      text-decoration: none;
      color: black;
      font-weight: bold;
  }

  .navigation-button button {
      font-family: 'Space Grotesk', sans-serif;
      font-size: 18px;
      border: 1px solid #191A23;
      border-radius: 14px;
      padding: 20px 26px;
      background-color: transparent;
      color: #191A23;
  }

  .navigation-button button:hover {
      background-color: #191A23;
      color: white;
  }

  /* Tablet */
  .tablet-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 3%;
      display: none;
  }

  /* Mobile */
  .mobile-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 3% 5%;
      display: none;
  }

  @media screen and (max-width: 719px) {

      .mobile-menu {
          display: block;
          display: flex;
      }
  }

  @media screen and (min-width: 720px) and (max-width: 1369px) {

      .tablet-menu {
          display: flex;
      }
  }

  @media screen and (min-width: 1370px) {

      .navigation-bar {
          display: block;
          display: flex;
      }
  }