        body {
            font-family: 'Open Sans', sans-serif;
        }

        .text-area {
            text-align: center;
        }

        .text-area h2 {
            font-size: 32px;
            color: #555;
        }

        .text-area p {
            max-width: 700px;
            margin: 0 auto;
        }

        .card-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            margin-top: 50px;
        }

        .card {
            flex: 0 0 calc(33.33% - 20px);
            position: relative;
            margin-bottom: 80px;
        }

        .picture {
            width: 100%;
            aspect-ratio: 1 / 0.8;
            object-fit: cover;
            border-radius: 14px;
            display: block;
        }

        .card-text {
            justify-content: center;
            position: absolute;
            left: 50%;
            bottom: -70px;
            transform: translateX(-50%);
            width: 85%;
            background: #fff;
            padding: 18px 16px;
            border-radius: 14px;
            box-shadow: 0 6px 18px rgb(136, 136, 136);
            text-align: center;
            min-height: 140px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card-text p {
            font-size: 20px;
            color: #555;
            line-height: 1.4;
            margin-bottom: 10px;

        }

        .card-text a {
            color: #4CAF50;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
        }

        @media screen and (max-width: 1000px) {
            .card-content {
                flex-direction: column;
                align-items: center;
            }

            .card {
                flex: 0 0 90%;
                margin-bottom: 100px;
            }
        }